<div class="my_min_fl">
    <div class="my_tx"><a><img src="{$user['imageurl']}" alt=""/><br/><span>{$user['name']}</span></a></div>
    <ul class="my_box_fl">
        <li class="max_bt max_bt_click"><a href="{:U('Home/User/sharedbook')}"><em>分享的图书</em><i></i></a></li>
        <li class="max_bt"><a href="secondhandbook.html"><em>出售二手书</em><i></i></a></li>
        <li class="max_bt"><a href="{:U('Home/User/bookreview')}"><em>发布书评</em><i></i></a></li>
        <li class="max_bt"><a href="mypoints.html"><em>我的积分</em></a></li>
        <li><a><span>积分任务</span></a></li>
        <li><a><span>积分兑换</span></a></li>
        <li class="max_bt"><a href="myorder.html"><em>我的订单</em></a></li>
        <li><a><span>全部订单</span></a></li>
        <li><a><span>待付款</span></a></li>
        <li><a><span>待发货</span></a></li>
        <li><a><span>待收货</span></a></li>
        <li><a><span>待评价</span></a></li>
        <li><a><span>退款退货</span></a></li>
        <li><a><span>订单回收站</span></a></li>
        <li class="max_bt"><a><em>我的优惠券</em></a></li>
        <li><a><span>平台优惠劵</span></a></li>
        <li><a><span>店铺优惠劵</span></a></li>
        <li class="max_bt"><a href="myconcern.html"><em>我的关注</em></a></li>
        <li><a><span>关注的人</span></a></li>
        <li><a><span>我的粉丝</span></a></li>
        <li class="max_bt"><a href="{:U('Home/User/address')}"><em>收货地址</em></a></li>
        <li><a><span>管理收货地址</span></a></li>
        <li><a><span>添加收货地址</span></a></li>
        <li class="max_bt"><a href="accountmanagement.html"><em>账号管理</em></a></li>
        <li class="max_bt"><a href="securitycenter.html"><em>安全中心</em></a></li>
        <li><a href="securitycenter.html"><span>登录密码</span></a></li>
        <li><a href="paymentpassword.html"><span>支付密码</span></a></li>
    </ul>
</div>