<include file="./APP/Admin/View/Common/Public_header_v1.html"/>
<script type="text/javascript" src="__PUBLIC__/static/bt.typeahead/bootstrap3-typeahead.js"></script>
<style type="text/css">
    .form-horizontal{width:850px;}
    .form-horizontal>.form-group{border-top: 1px solid #ccc;padding-top:20px;margin-left:15px;margin-right:0px;}
    .form-horizontal>.form-group:first-child{border-top:none;}
    .form-group>.col-sm-2{width: 110px;}
    .form-group>.col-sm-10{width: 700px;}
    select.form-control{width: auto !important;}
</style>
<ol class="breadcrumb">
    <li>{:C('CONTROL_MENU')}</li>
    <li>地域设置</li>
    <li class="active"><a href="{:U('Admin/Information/regionList')}"> 地域列表</a></li>
    <li>修改地域</li>
</ol>
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);">修改地域</a></li>
</ul>
<form action="{:U('Admin/Information/regionAdd')}" class="form-horizontal" method="post" >
     <div class="form-group">
        <label for="province_id" class="col-sm-2 control-label">地域类型</label>
        <div class="col-sm-3">
            <select name="province_id" id="province_id" class="form-control">
                <option value="0">请选择</option>
                <volist name="provinceList" id="vo">
                    <option value="{$vo['province_id']}">{$vo.province}</option>
                </volist>
            </select>
        </div>
        <div class="col-sm-3">
            <select name="city_id" id="city_id" class="form-control" >
            </select>
            <div class="Validform_checktip"></div>
        </div>
    </div>
    <div class="form-group" id="codel">
        <label for="number" class="col-sm-2 control-label">标识码</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" value="" id="number" name="number" datatype="n6-6" nullmsg="请输入标识码！" errormsg="标识码应为数字,长度为6" />
            <div class="Validform_checktip">标识码应为6位的数字（例如：北京为110000）</div>
        </div>
    </div>
    <div class="form-group" id="ym" style="display:none;">
        <label for="code" class="col-sm-2 control-label">简拼号</label>
        <div class="col-sm-10">
             <input class="form-control" type="text" value="" id="code" name="code" datatype="s1-2" ignore="ignore" errormsg="应为上述名称的头个拼音大写字母" />
            <div class="Validform_checktip">简拼号应为上述名称的头个拼音大写字母（如:广州为G）</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">修改地域</button>
        </div>
    </div>
  
</form>
<link href="__PUBLIC__/static/Validform/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/static/Validform/Validform_v5.3.2_min.js"></script>

<script type="text/javascript" language="javascript">
   $("#province_id option[value='{$_GET[province_id]}']").attr("selected",true); 
   //$("#province_id option[value='{$_GET[province_id]}']").attr("selected",true);
   $("#city_id").find("option[value='$_GET[city_id]']").attr("selected",true);
   $('#province_id').change(function(){
       var province_id ="{$_GET[province_id]}";
        $.ajax({
            cache:false,
            type:"POST",
            url:"{:U('Admin/Information/CityInfo')}",
            dataType:"json",
            data:{province_id:province_id},
            success:function(data){
                $("#city_id").empty();
                var count = data.length;
                var i = 0;

                var b="<option value='0' selected="/selected/">55</option>";
                 b+="<option value='0'>请选择</option>";
                // var b="<option value='0'>请选择</option>";
                for(i=0;i<count;i++){
                    b+="<option value='"+data[i].city_id+"'>"+data[i].city+"</option>";
                }
              
               //$("#city_id option[value='{$_GET[city_id]}']").attr("selected",true);
               $("#city_id").append(b);
            }  
        });
    });
    
    
    $(function(){
        $(".form-horizontal").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.nextAll(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            beforeCheck:function(curform){
                if(!confirm('确定提交本次操作吗？'))
                {
                    return false;
                }
            }
        });

    });

</script>
<include file="./APP/Admin/View/Common/Public_footer_v1.html"/>
