{__NOLAYOUT__}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Magazine &mdash; Free Fully Responsive HTML5 Bootstrap Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	

  

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="__PUBLIC__/css/animate.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="__PUBLIC__/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">

	<link rel="stylesheet" href="__PUBLIC__/css/styles.css">


	<!-- Modernizr JS -->
	<script src="__PUBLIC__/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		.head-pic{
		    width:40px;
		    height:40px;    
		}
		
		.cm{
		    position:relative;
		    top:0px;
		    left:40px;
		    top:-40px;
		    width:600px;
		}
		
		.cm-header{
		    padding-left:5px;
		}
		
		.cm-content{
		    padding-left:5px;
		}
		
		.cm-footer{
		    padding-bottom:15px;
		    text-align:right;
		    border-bottom: 1px dotted #CCC;
		}
		
		.comment-reply{
		    text-decoration:none;
		    color:gray;
		    font-size: 14px;
		}
		.children{
			padding-left:50px;
		}
	</style>
		<script>
			function discuss(obj){
				var _this=$(obj);
				var content=0;
				var discuss_id=_this.attr('parent_id');
				var art_id={$data.detial.art_id};
				var total=$('.comment-num').find('span').html();
				var newtotal=Number(total)+1;
				var type=_this.attr('type');
				if(discuss_id>0){
					
					content=prompt("请输入内容","");
				}
				if(discuss_id==0){
					content=$('.txt-commit').val();
				}if(discuss_id<0){
					alert('非法操作!');
					return false;
				}
				
				if(content == "" || content == undefined || content == null){
						alert('请输入内容!');
						return false;
				}else{					
					$.ajax({
						url:"{:U('Home/Ajax/discuss')}",
						type:'post',
						data:'content='+content+'&discuss_id='+discuss_id+'&art_id='+art_id,
						datatype:'json',
						success:function(e){
							console.log(e)
							if(e==0){
		 						alert('点赞失败');
		 					}if(e.state==1 && type==3){		 					
		 						var html=getHtml(e.data.id,e.data.avatar,e.data.name,e.data.addtime,e.data.content);
		 						 _this.parent().parent().parent().parent().parent().prepend(html);
		 					}if(e.state==1 && type==2){
		 						var html=getHtml(e.data.id,e.data.avatar,e.data.name,e.data.addtime,e.data.content,2);
		 						 _this.parent().parent().parent().parent().find('.children').prepend(html);
		 					}if(e.state==1 && type==1){
		 						$('.comment-num').find('span').html(newtotal);
		 						var html=getHtml(e.data.id,e.data.avatar,e.data.name,e.data.addtime,e.data.content,1);
		 						 $('.comment-ul').prepend(html);
		 					}
		 					if(e==2){
		 						alert('请先登录');
		 					}
						},
						error:function(){
							alert('网络有误  请稍后再玩');
						}
					}) 
				}
			}
		
		//添加评论
		function  getHtml(id,avatar,name=0,addtime,content,type=3){
			 html="<li comment_id="+id+">";                   
			 html+="<div>";
			 html+="<div>";
			 html+="<img class=\"head-pic\"  src="+avatar+" alt=\"\">";             
			 html+="</div>";       
			 html+="<div class=\"cm\">";       
			 html+="<div class=\"cm-header\">";           			
			 if(name){
				 html+="<span>"+name+"</span>";    
			 }else{
				 html+="<span>游客</span>";    
			 } 			
			 html+="  <span>"+addtime+"</span>"           
			 html+="</div>";          
			 html+="<div class=\"cm-content\">";           
			 html+="<p>"+content+"</p>";                           
			 html+="</div>";           
			 html+="<div class=\"cm-footer\">";
			 if(type==2){
				 html+="<a class=\"comment-reply\" type='3' parent_id="+id+"  href=\"javascript:;\" onclick=\"discuss(this);\">回复</a>";                
				 html+="</div></div></div></li>"; 
			 }
			 if(type==1){
				 html+="<a class=\"comment-reply\" type='2' parent_id="+id+"  href=\"javascript:;\" onclick=\"discuss(this);\">回复</a>";                
				 html+="</div></div></div><ul class=\"children\"></ul></li>"; 
			 }else{
				 html+="<a class=\"comment-reply\" type="+type+" parent_id="+id+"  href=\"javascript:;\" onclick=\"discuss(this);\">回复</a>";                
				 html+="</div></div></div></li>"; 
			 }           
			 return html;
		}
		

	</script>
	</head>
	<body>
	<div class="container-fluid">	
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<figure class="animate-box">
					<img src="{$data.img.image_url}" alt="Image" class="img-responsive">
				</figure>
				<span class="fh5co-meta animate-box"><a href="single.html">Travel</a></span>
				<h2 class="fh5co-article-title animate-box"><a href="single.html">{$data.detial.title}</a></h2>
				<span class="fh5co-meta fh5co-date animate-box">{$data.detial.addtime|date="Y-m-d H:i:s",###}</span>
				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
					<div class="row">
						<div class="col-lg-8 cp-r animate-box">
							<p>{$data.detial.introduction}</p>
						</div>					
					</div>
					<div class="row rp-b">
						<div class="col-lg-6 col-md-12 cp-l animate-box">
 							<p>{$data.detial.content}</p>
						</div>
					</div>
					<div class="row">
						<div class="comment-filed">
							  <!--发表评论区begin-->
							  <div>
							    <div class="comment-num">
							        <span>{$data.detial.discuss_total}</span>条评论
							    </div>
							    <div>
							        <div>
							        <textarea class="txt-commit" replyid="0"></textarea>
							        </div>
							        <div class="div-txt-submit">
							            <a class="comment-submit" parent_id="0" type="1" href="javascript:;" onclick="discuss(this);"><span style=''>发表评论</span></a>
							        </div>      
							    </div>
							  </div>
							  <!--发表评论区end-->
							
							  <!--评论列表显示区begin-->
							    <!-- {$commentlist} -->
							    <div class="comment-filed-list" >
							        <div><span>全部评论</span></div>				
							        <div class="comment-list" >
							            <!--一级评论列表begin-->
							            <ul class="comment-ul">     
							                <volist name="data.discuss" id="data">                  
							                    <li comment_id="{$data.id}">                   
							                    <div >
							                        <div>
							                            <img class="head-pic"  src="{$data.avatar}" alt="">  
							                        </div>
							                        <div class="cm">
							                            <div class="cm-header">
							                            <span><if condition="$data['name'] neq null">{$data.name}<else/>游客</if></span>
							                            <span>{$data.addtime}</span>
							                            </div>
							                            <div class="cm-content">
							                                <p>
							                                    {$data.content}
							                                </p>
							                            </div>
							                            <div class="cm-footer">
							                                <a class="comment-reply" parent_id="{$data['id']}" type="2" href="javascript:" onclick="discuss(this)">回复</a>                     
							                            </div>  
							                        </div>                                                              
							                    </div>
							
							                    <!--二级评论begin-->
							                    <ul class="children">
							                       <volist name="data.child" id="child" >                            
							                        <li comment_id="{$child.id}">                  
							                            <div >
							                                <div>
							                                    <img class="head-pic"  src="{$child.avatar}" alt=""> 
							                                </div>
							                                <div class="cm">
							                                    <div  class="cm-header">
							                                    <span><if condition="$child['name'] neq null">{$child.name}<else/>游客</if>  回复  <if condition="$child['reply'] neq null">{$child.reply.name}<else/>游客</if></span>
							                                    <span>{$child.addtime}</span>
							                                    </div>
							                                    <div class="cm-content">
							                                        <p>
							                                           {$child.content}
							                                        </p>
							                                    </div>
							                                    <div class="cm-footer">                             
							                                        <a class="comment-reply" replyswitch="off" type="3" parent_id="{$child['parent_id']}"  href="javascript:;" onclick="discuss(this);">回复</a>
							                                    </div>  
							                                </div>                                                              
							                            </div>							                            
							                        </li>
							                       </volist>
							                    </ul>   
							                    <!--二级评论end-->
							
							                </li>
							                </volist>                                                                     
							            </ul>
							            <!--一级评论列表end-->
							        </div>      
							    </div>
							  <!--评论列表显示区end-->							 
							</div>  
    					</div>
					</div>
				</div>
			</article>
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="__PUBLIC__/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="__PUBLIC__/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="__PUBLIC__/js/main.js"></script>
</body>	
</html>
