<include file="./APP/Admin/View/Common/Public_header_v1.html"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/ueditor1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/ueditor1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/static/ueditor1.4.3/lang/zh-cn/zh-cn.js"></script>

<style>
    .form-horizontal{width:850px;}
    .form-horizontal>.form-group{border-top: 1px solid #ccc;padding-top:20px;margin-left:15px;margin-right:0px;}
    .form-horizontal>.form-group:first-child{border-top:none;}
    .form-group>.col-sm-2{width: 110px;}
    .form-group>.col-sm-10{width: 700px;}
    .noHand{cursor: not-allowed;}
    select.form-control{width: auto !important;}
</style>
<ol class="breadcrumb">
    <li>{:C('CONTROL_MENU')}</li>
    <li>话题栏目设置</li>
    <li class="active"><a href="{:U('Admin/Topic/tagList')}"> 话题栏目列表</a></li>
    <li>编辑话题栏目</li>
</ol>
<form class="form-horizontal" action="{:U('Admin/Topic/tagEdit?tag_id='.$classType['tag_id'])}" method="post">
    <div class="form-group">
        <label for="tag_name" class="col-sm-2 control-label">标题：</label>
        <div class="col-sm-8">
            <!-- <input type="hidden" name="groups_id" class="form-control" id="groups_id" value="{$classType.groups_id}" /> -->
            <input type="text" name="tag_name" class="form-control" id="tag_name" datatype="*1-10" nullmsg="请输入话题栏目标题！" errormsg="长度10个字以内" value="{$classType.tag_name}" />
            <div class="Validform_checktip">请输入10字以内的话题栏目标题</div>
        </div>
    </div>
    <div class="form-group">
        <label for="introduce" class="col-sm-2 control-label">介绍：</label>
        <div class="col-sm-8">
            <!-- <input type="text" name="introduce" class="form-control" id="introduce" datatype="*1-100" nullmsg="请输入描述！" errormsg="长度100个字以内" value="" ignore="ignore"/> -->
            <textarea type="text" name="tag_describe" class="form-control" id="tag_describe" datatype="*1-100" nullmsg="请输入描述！" errormsg="长度100个字以内" ignore="ignore">{$classType.tag_describe}</textarea>
            <div class="Validform_checktip">请输入100字以内的介绍</div>
        </div>
    </div>
    <div class="form-group">
        <label for="is_show" class="col-sm-2 control-label">是否有效：</label>
        <div class="col-sm-8">
            <select name="is_show" id="is_show" class="form-control">
               <if condition='$classType.is_show == 0'>
                         <option value="0" selected=true>隐藏</option>
                         <option value="1" >显示</option>
                <else/>
                         <option value="1" selected=true>显示</option>
                         <option value="0" >隐藏</option>
                </if>
            </select>
            

        </div>
    </div>
    <div class="form-group">
        <label for="discuss_number" class="col-sm-2 control-label">评论人数：</label>
        <div class="col-sm-8">{$classType.post_num}
            <!-- <input type="hidden" name="groups_id" class="form-control" id="groups_id" value="{$classType.groups_id}" /> -->
            <!-- <input type="text" name="discuss_number" class="form-control" id="discuss_number"  value="{$classType.discuss_number}" /> -->
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存编辑</button>
        </div>
    </div>
</form>
<link href="__PUBLIC__/static/Validform/css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/static/Validform/Validform_v5.3.2_min.js?t=20150112"></script>
<script type="text/javascript" language="javascript">
    $(function(){

        $(".form-horizontal").Validform({
            tiptype:function(msg,o,cssctl){
                if(!o.obj.is("form")){
                    var objtip=o.obj.next(".Validform_checktip");
                    cssctl(objtip,o.type);
                    objtip.text(msg);
                }
            },
            beforeCheck:function(curform){
                if(!confirm('确定提交本次操作吗？'))
                {
                    return false;
                }
            },
            beforeSubmit:function(curform){
                //在验证成功后，表单提交前执行的函数，curform参数是当前表单对象。
                //这里明确return false的话表单将不会提交;
            }
        });
    });
</script>
<script type="text/plain" id="myEditor"></script>
<include file="./APP/Admin/View/Common/Public_footer_v1.html"/>
